{% extends 'pyquiz/base.html' %}
                {% block content_header %}
                {% endblock content_header %}
{% block content %}
                <!-- Main content -->
                <section class="content">
                 
                    <div class="error-page">
                        <h2 class="headline text-info"> 404</h2>
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i> Whoa, you're lost buddy!</h3>
                            <p>
                                You don't find Rajinikanth. Rajinikanth finds you.
                            </p>
                            <p>
                                <a class="spinner" href='{% url 'index' %}'>Get outta here!</a>
                            </p>
                            <img src="/static/img/rajini.jpg">
                        </div><!-- /.error-content -->
                    </div><!-- /.error-page -->

                </section><!-- /.content -->
{% endblock content %}
