{% extends 'pyquiz/base_static.html' %}
{% block title %}500 Internal Server Error{% endblock title %}
{% block content %}
                <!-- Main content -->
                <section class="content">

                    <div class="error-page">
                        <h2 class="headline text-info"> 404</h2>
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i> Oops! Something went wrong.</h3>
                            <p>
                                Please try again  after some time or shoot a mail to <a href='mailto:vivek.s@global-analytics.com'>vivek.s@global-analytics.com</a>.
                            </p>
                            <p>
                                <a href='/pyquiz/'>Get outta here!</a>
                            </p>
                        </div><!-- /.error-content -->
                    </div><!-- /.error-page -->

                </section><!-- /.content -->
            
{% endblock content %}
