{% extends 'pyquiz/base.html' %}
{% block content %}
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div title="" data-toggle="tooltip" class="box-header" data-original-title="PyQuiz Information Bulletin">
                                    <h3 class="box-title">Update your profile details</h3>
                                    
                                </div>
                                <div class="box-body">
                                    This page is still under construction.
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
{% endblock content %}
