<div class="modal fade" id="features-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Features</h4>
              </div>
              <div class="modal-body">
                <ul>
                    <li>
                        <p>Now you can signin/register with any of your favourite social networking sites<br><br></p>
                        <img width=300 height=200 src="/static/img/Social-Sign-In.png" />
                    </li>
                    <br>
                    <li>
                        <p>Your profile image comes directly from gravatar<br><br></p>
                        <img width=300 height=156 src="/static/img/Gravatar-Image.png" />         
                    </li>
                    <br>
                    <li>
                        <p>You can review your answers after every Quiz.<br><br></p>
                        <img style="border:0.5px solid #7C7C7C;" width=531 height=119 src="/static/img/Review.png" />
                    </li>
                    <br>
                    <li>
                        <p>No disclosure of emails!. Leaderboard will be addressed by your name<br><br></p>
                        <img style="border:0.5px solid #7C7C7C;" width=531 height=156 src="/static/img/LeaderBoard.png" />
                    </li>
                </ul> 
              </div>
              <div class="modal-footer modal-footer2 text-center">
                <button type="button" class="btn btn-inverse btn-lg" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
