{% extends 'pyquiz/base_static.html' %}
{% block title %}Forgot Password{% endblock title %}
{% block content %}
            <div class="form-box form-box-static" id="login-box">
                {% if mail_sent %}
                    We have sent you a mail, Please check your inbox.<br/>
                    <a href="{% url 'index' %}">Go to HomePage</a>
                {% else %}
                <div class="header">Forgot Password</div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="body bg-gray">
                        {% if error.general %}
                            <div class="help-block with-errors general-errors">{{ error.general }}</div>
                        {% endif %}
                        <div class="form-group {% if error.general %} has-error {% endif %}">
                            <input type="email" name="username" class="form-control" placeholder="User ID" required data-error="Bruh, that email address is invalid" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="footer">
                        <button type="submit" class="btn bg-olive btn-block">Send me a mail</button>
                    </div>
                </form>
                <div class="margin text-center copyrights">
                    <span>&copy; 2014 Vivek Soundrapandi</span>

                </div>
                {% endif %}
            </div>
{% endblock content %}
