{% extends 'pyquiz/base.html' %}
{% load sub %}
{% block title %}LeaderBoard{% endblock title %}
{% block page_styles %}
        <!-- DATA TABLES -->
        <link href="/media/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" /> 
{% endblock page_styles %}
{% block content %}
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">{% if weekly %}Weekly{% else %}Overall{% endif %} LeaderBoard</h3>                                    
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="leaderboard" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>UserName</th>
                                                <th>Score</th>
                                                <th>Rank</th>
                                                {% if not hide_status %}
                                                <th>Status</th>         
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item,value in leaderboard.items %}
                                                <tr>
                                                    <td>{{ value.username }}</td>
                                                    <td>{{ value.points }}</td>
                                                    <td>{{ value.rank }}</td>
                                                    {% if not hide_status %}
                                                    <td>{{ value.rank_diff }}<img src="/media/img/{% if value.rank_diff > 0 %}up{% else %}{% if value.rank_diff < 0 %}down{% else %}equal{% endif %}{% endif %}.png" /></td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>UserName</th>
                                                <th>Score</th>
                                                <th>Rank</th>
                                                {% if not hide_status %}
                                                <th>Status</th>
                                                {% endif %}
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
{% endblock content %}
{% block page_scripts %}
        <!-- DATA TABES SCRIPT -->
        <script src="/media/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/media/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#leaderboard").dataTable();
});
</script>
{% endblock page_scripts %}
