{% extends 'pyquiz/base.html' %}
{% block content %}
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div title="" data-toggle="tooltip" class="box-header" data-original-title="PyQuiz Weekly Questions">
                                    <h3 class="box-title">Question 1</h3>
                                    
                                </div>
                                <div class="box-body ">
                                    <form id="quiz-form" method="POST" action="">
                                        {% csrf_token %}
                                        {% for question_set in questions_set %}
                                            <div id="Q{{ forloop.counter }}" class="questions" {% if not forloop.first %} style="display:none;" {% endif %}>
                                                <input type="hidden" value="0" name="t_{{ question_set.question.id }}" />
                                                {{ question_set.question.question }}
                                                <!-- radio -->
                                                <div class="form-group"> 
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="{{ question_set.question.id }}" value="{{ question_set.choices.choice_1 }}">
                                                            {{ question_set.choices.choice_1 }}
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="{{ question_set.question.id }}" value="{{ question_set.choices.choice_2 }}">
                                                            {{ question_set.choices.choice_2 }}
                                                        </label>
                                                    </div>
                                                    {% if question_set.choices.choice_3 %}
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="{{ question_set.question.id }}" value="{{ question_set.choices.choice_3 }}">
                                                            {{ question_set.choices.choice_3 }}
                                                        </label>
                                                    </div>
                                                    {% endif %}
                                                    {% if question_set.choices.choice_4 %}
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="{{ question_set.question.id }}" id="question{{ forloop.counter }}" value="{{ question_set.choices.choice_4 }}">
                                                            {{ question_set.choices.choice_4 }}
                                                        </label>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </form>
                                </div>
                                <div class="box-footer">
                                    <p>All the best!!!</p>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
{% endblock content %}
