{% extends 'pyquiz/base.html' %}
{% block content %}
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div title="" data-toggle="tooltip" class="box-header" data-original-title="PyQuiz Information Bulletin">
                                    <h3 class="box-title">Welcome Poochi</h3>
                                    
                                </div>
                                <div class="box-body ">
                                        <p>What will be the value of x & y?</p>
                                        <div class="callout callout-info">
                                        <p>x=1<br>y=x<br>x=2</p>
                                    </div>

                                  <!-- radio -->
                                        <div class="form-group"> 
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    Option one is this and that&mdash;be sure to include why it's great
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    Option two can be something else and selecting it will deselect option one
                                                </label>
                                            </div>                                        
                                </div>
                                <div class="box-footer">
                                    <p>All the best!!!</p>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
{% endblock content %}
