{% extends 'pyquiz/base_static.html' %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
            <div class="form-box form-box-static" id="login-box">
                    Your account has been verified successfully. Please click on the below link to login with your new credentials.<br/>
                    <a class="spinner" href="{% url 'login' %}">Go to Login Page</a>
                <div class="margin text-center copyrights">
                    <span>&copy; 2014 Vivek Soundrapandi</span>

                </div>
            </div>
{% endblock content %}
